---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// defaults
$font-light: "supplylight", Helvetica, Arial, sans-serif;
$font-regular: "supplyregular", Helvetica, Arial, sans-serif;
$font-sans: "maison_neuebook", Helvetica, Arial, sans-serif;

$base-line-height: 1.5;

$spacing-unit:     30px;

//colors
$brand-color:      #ABB1A3;
$dark-color: #111;
$water-color: #3b3d41;
$light-color: #fffeff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 70%);
$grey-color-dark:  darken($grey-color, 35%);

//card heights

$card-desktop: 800px;
$card-l: 100vh;
$card-m: 80vh;
$card-s: 400px;
$card-xs: 300px;
$card-mobile: 667px;

//sizes
$xxl: 2.6rem;
$xl: 1.8rem;
$l: 1.8rem;
$m: 1.2rem;
$s: 1rem;
$xs: 1rem;
$xxs: 1rem;

// Width of the content area
$content-width:    1000px;
$on-palm:          600px;
$on-tablet:        888px;
$on-laptop:        1200px;

$box-width: 500px;
$desktop-width: 76%;
$tablet-width: 80%;
$mobile-width: 100%;

//styles

$border-s: $grey-color 1px solid;

@mixin crossBrowser($property, $css) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}

@mixin button() {
  @include crossBrowser(user-select, none);
  cursor: pointer;
} 

@mixin deadCenter($percentX, $percentY) {
  position: relative;
  top: $percentY;
  left: $percentX;
  @include crossBrowser(transform, translate(-$percentX, -$percentY));
}

@mixin deadCenterReset() {
  position: static;
  top: 0;
  left: 0;
  @include crossBrowser(transform, translate(0, 0));
}

@mixin circled($radius) {
  vertical-align: middle;
  border: $brand-color 5px solid;
  border-radius: $radius;
  width: $radius;
  height: $radius;
  padding: 0;
  @include button();
}

@mixin contentCol() {
  width: $desktop-width;
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin yMargins($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin xMargins($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

//stuff

.hidden {
  display: none;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Imports

@import
        "base",
        "layout",
        "type",
        "typeface"
;
