---
layout: home
title: "Digital Designer in NYC"
card01: "Portfolio of Evander Batson,<br class='mobile-hidden'> Brooklyn-based Designer <br class='mobile-hidden'> & Art Director."
card02: "Through digital strategy, design and code, I build immersive experiences both on the web and IRL by utilizing technical prototyping and system-driven execution."
card02h2: "Agency work"
card02h3: "Current agencies & representative clients:"
cardMax: "04"
card03h2: "Notable Matters"
card04h2: "Case Studies"
card04: "Selected examples of recent work"
---

<section id="card01" class="card">

  <div class="card-box">
    <div class="slide-numbers">
      <h1>01</h1>
      <h1>-</h1>
      <h1>{{page.cardMax}}</h1>
    </div>
      <h1>
      {{page.card01}}
      </h1>
  </div>

  <video autoplay loop muted class="mobile-hidden">
    <source src="assets/video/mesh1.mp4" type="video/mp4">
  </video>

  <a href="#card02">
    <div class="arrow">
      <img src="{{ site.baseurl }}/assets/arrow.svg">
    </div>
  </a>

</section>

<section id="card02" class="card">
 
  <div class="card-box">
    <div class="slide-numbers">
      <h1>02</h1>
      <h1>-</h1>
      <h1>{{page.cardMax}}</h1>
    </div>
    <h1>
    {{page.card02}}
    </h1>
    <br>
    <h2>
    {{page.card02h2}}
    </h2>
    <p>{{page.card02h3}}</p>
    <div class="card-triple">
      {% for gig in site.data.gigs %}
      <div class="card-col">
          <ul>
            <li><a href="{{gig.agencyLink}}" target="_blank"><h3>{{gig.agency}}</h3></a></li>
            <li>{{gig.clientA}}</li>
            <li>{{gig.clientB}}</li>
            <li>{{gig.clientC}}</li>
          </ul>
      </div>
      {% endfor %}
    </div>
    <p><a href="{{ site.baseurl }}/docs/EB-Capabilities-Report--2018.pdf" target="_blank">& more</a></p>
  </div>

  <a href="#card03">
    <div class="arrow">
      <img src="{{ site.baseurl }}/assets/arrow.svg">
    </div>
  </a>

</section>

<section id="card03" class="card">

  <div class="card-box">
    <div class="slide-numbers">
      <h1>03</h1>
      <h1>-</h1>
      <h1>{{page.cardMax}}</h1>
    </div>
      <h2>
      {{page.card04h2}}
      </h2>
      <h1>
        {{page.card04}}:
      </h1>
  </div>

</section>

<section id="case-studies">

  {% for post in site.posts %}

    {% include thumbnails.html %}

  {% endfor %}

</section>

<section id="card04" class="card">

  <div class="card-box">
    <div class="slide-numbers">
      <h1>04</h1>
      <h1>-</h1>
      <h1>{{page.cardMax}}</h1>
    </div>
      <h2>
      {{page.card03h2}}
      </h2>
      {% for matter in site.data.matters %}
      <div class="card-double">
          <div class="left-col">
            <h3>{{matter.date}}</h3>
          </div>
          <div class="right-col">
            <ul>
              <li>
                {{matter.matterA}} <a href="{{matter.matterAlink}}" target="_blank" class="stat">{{matter.matterAstat}}</a>
              </li>
              <li>
                {{matter.matterB}} <a href="{{matter.matterBlink}}" target="_blank" class="stat">{{matter.matterBstat}}</a>
              </li>
              <li>
                {{matter.matterC}} <a href="{{matter.matterClink}}" target="_blank" class="stat">{{matter.matterCstat}}</a>
              </li>
              <li>
                {{matter.matterD}} <a href="{{matter.matterDlink}}" target="_blank" class="stat">{{matter.matterDstat}}</a>
              </li>
            </ul>
          </div>
      </div>
      {% endfor %}
  </div>

</section>