<section id="footer">
	<div class="centered-box">
    	<h1>Thanks for visting!</h1>
    	<h1>:)</h1>
  	</div>
  	<nav>
	  <h2><a href="#">top</a></h2>
	  <h2><a href="http://cargocollective.com/{{ site.artPortfolio }}" target="_blank">art</a></h2>
	  <h2><a href="http://twitter.com/{{ site.twitterUsername }}" target="_blank">twitter</a></h2>
	  <h2><a href="mailto:{{ site.email }}" target="_blank">email</a></h2>
	</nav>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script src="{{ site.baseurl }}/scripts/evander.js"></script>


