<section id="footer">
	<div class="centered-box">
    	<h1>Thanks for visting!</h1>
    	<p>Want to see some more projects? Check out my <a href="http://evanderbatsondesign.tumblr.com/" target="_blank">Design Log</a>, or my <a href="http://cargocollective.com/{{ site.artPortfolio }}" target="_blank">Art Portfolio</a>. Oh and hey, feel free to shoot me an <a href="mailto:{{ site.email }}" target="_blank">email</a> if you want to reach out.</p>
  	</div>
  	<nav>
	  <h2><a href="#">top</a></h2>
	  <h2><a href="https://ello.co/{{ site.elloUsername }}" target="_blank">ello</a></h2>
	  <h2><a href="http://instagram.com/{{ site.instaUsername }}{{ site.instaUsername }}" target="_blank">insta</a></h2>
	  <h2><a href="http://twitter.com/{{ site.twitterUsername }}" target="_blank">twitter</a></h2>
	  <h2><a href="mailto:{{ site.email }}" target="_blank">email</a></h2>
	</nav>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script src="{{ site.baseurl }}/scripts/evander.js"></script>


