@include media-query($on-tablet) {
	#case-info {
	    display: block;
	    .three-up-s, .three-up-l {
	        width: 100%;
	    }
	}
}


@include media-query($on-palm) {
	.mobile-hidden {
		display: none;
	}
    h1 {
    	font-size: $xl;
    }
    h2 {
    	font-size: $m;
    }
    p {
    	font-size: $xxs;
    }
    #hero {
    	position: relative;
    	.centered-box {
    		.info {
            width: 300px;
        	}
    	}
    }
    .arrow {
        position: absolute;
        right: $spacing-unit/2;
        bottom: $spacing-unit*2;
        z-index: 1;
        h2 {
            transform: rotate(90deg);
            font-size: $xs;
        }
        img {
            position: relative;
            height: 50px;
        }
    }
    //case
    #case-hero {

    }
	#case-info {
		max-width: 100%;
    	width: 90% !important;
    	.case-grid {
    		display: block;
    		.two-up-l, .two-up-r {
    			text-align: center;
    			width: 100%;
    			font-size: $xxs;
    			@include yMargins($spacing-unit);
    		}
    	}
	}
    .case-images {
    	@include yMargins($spacing-unit);
    	width: 90%;
    }
    .case-blurb {
    	@include yMargins($spacing-unit);
    	max-width: 100%;
    	width: 90% !important;
    	h3 {
    		font-size: $xxs;
    		line-height: $l;
    	}
    }
    #case-link {
	    .centered-box {
	        width: 90% !important;
	        text-align: center;
	    }
	    h3 {
	        font-size: $m;
	    }
	    a {
	        font-size: $xs;
	    }
	}

    #recycler {
	    h2 {
	        text-align: center;

	        z-index: 3;
	        position: relative;
	    }
	    .bins {
	        height: auto;
	        display: block;
	        .bin {
	            width: 100%;
	            position: relative;
	            height: $card-s;
	            a {
	                color: $light-color;
	                @include deadCenter(50%,50%);
	            }
		    }
		}
	}
}