@font-face {
    font-family: 'supplybold';
    src: url('{{site.baseurl}}/fonts/supply-bold-webfont.woff2') format('woff2'),
         url('{{site.baseurl}}/fonts/supply-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supplylight';
    src: url('../fonts/supply-light-webfont.woff2') format('woff2'),
         url('../fonts/supply-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supplymedium';
    src: url('../fonts/supply-medium-webfont.woff2') format('woff2'),
         url('../fonts/supply-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supplyregular';
    src: url('../fonts/supply-regular-webfont.woff2') format('woff2'),
         url('../fonts/supply-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supplyultralight';
    src: url('../fonts/supply-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/supply-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maison_neuebook';
    src: url('../fonts/maisonneuebook-webfont.woff2') format('woff2'),
         url('../fonts/maisonneuebook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maison_neuebook_italic';
    src: url('../fonts/maisonneuebookitalic-webfont.woff2') format('woff2'),
         url('../fonts/maisonneuebookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}