<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrap">

      {% include header.html %}

      <section id="case-hero" style="background-image:url('{{ site.baseurl }}/content/{{ page.slug }}/{{ page.slug }}-hero.jpg')">
      </section>

      <section id="case-info">
          <h2>{{ page.title }}</h2>
        <div class="case-grid">
          <div class="two-up-l">
            <p>{{ page.description }} /<br> 
            {{ page.role }}</p>
          </div>
          <div class="two-up-r">
            <p>{{ page.projectDate }} /<br> 
            {{ page.location }}</p>
          </div>
        </div>
      </section>

      {{content}}

      <section class="case-image-full">
        <img class="case-image" src="{{ site.baseurl }}/content/{{ page.slug }}/{{ page.slug }}-end.jpg">
      </section>

      {% if page.link %}
      <section id="case-link">
        <div class="centered-box">
          <h3>Visit the site</h3>
          <h1>
            <a href="{{ page.link }}" target="_blank">{{ page.link | remove: 'http://' }}</a>
          </h1>
        </div>
      </section>
      {% endif %}

      <section id="recycler">

        <h2>
          More Case Studies
          <span><img src="{{ site.baseurl }}/assets/arrow.svg" width="10px"></span>
        </h2>

        <div class="bins">

          {% for post in site.posts limit:4 %}
            {% if post.url != page.url %} 
              {% if forloop.index < 4 or found %}
                <div class="bin" style="background-image:url('{{ site.baseurl }}/content/{{ post.slug }}/{{ post.slug }}-thumb.jpg')">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    {% if post.mode == "dark" %}
                      <h1 class="dark">{{ post.title }}</h1>
                        {% else %}
                      <h1>{{ post.title }}</h1>
                    {% endif %}
                  </a>
                </div>
                {% endif %}
              {% else %}
                {% assign found = true %} 
            {% endif %}
          {% endfor %}

        </div>

        
      </section>

      {% include footer.html %}

    </div>
  </body>
</html>
